{% extends 'base.html.twig' %}
{% block title %}Edit Client{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Edit Client</h1>
                {{ include('client/_form.html.twig', {'button_label': 'Update', 'attr': {'class': 'form'}}) }}
                <a href="{{ path('app_store') }}" class="btn btn-primary mb-3"style="background-color: white; color: blue;">В магазин</a>
            </div>
        </div>
    </div>
{% endblock %}