{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <div class="container mb-3 mt-4">
    <h1>Добро пожаловать в удивительный интернет-магазин!</h1>
    <p>Мы предлагаем широкий ассортимент высококачественных товаров по самым доступным ценам. У нас вы найдете все, что нужно для полного удовлетворения своих потребностей и желаний.</p>
    <p>Мы гарантируем, что каждый человек сможет найти у нас товары, которые подойдут именно ему, независимо от финансовых возможностей.</p>
    <p>Приобретая у нас, вы получаете не только высокое качество товаров, но и удобство покупок. Наш сайт имеет простой и интуитивно понятный интерфейс, который позволит вам легко найти нужные товары и оформить заказ всего за несколько кликов.</p>
    <p>Мы также предлагаем различные акции, скидки и специальные предложения, чтобы каждый мог сэкономить и получить максимальную ценность за свои деньги.</p>
    <p>Посетите наш интернет-магазин прямо сейчас и откройте для себя мир возможностей!</p>
    <img class="img-fluid"  src="/img/shopping.jpg" alt="shopping">
    </div>
{% endblock %}