{% extends 'base.html.twig' %}



{% block body %}
<button class="change-cart-btn" data-offer-id="1">Change Cart</button>
<button class="decrease-quantity-btn" data-offer-id="2">Decrease Quantity</button>
<button class="remove-offer-btn" data-offer-id="3">Remove Offer</button>
{% endblock %}


