{% extends 'base.html.twig' %}

{% block body %}

    {% if products is not empty %}
        <ul>
            {% for product in products %}
                <li>{{ product.name }}</li>
                <a href="/product/{{ product.id }}">добавить в корзиину</a>
            {% endfor %}
        </ul>
    {% else %}
        <p>ничего нет</p>
    {% endif %}

{% endblock %}